extends layout

block content
  include navbar
  #spacing-box
  .row
    div(class="container col s8 offset-s2")
      form(action="/login", method="POST")
        div(class="input-field col s12")
          input(type="email", id="email", name="email", class="validate")
          label(for="email") Email
        div(class="input-field col s12")
          input(type="password", id="password", name="password", class="validate")
          label(for="password") Password
        button(type="submit", name="action", class="btn waves-effect waves-light") Log in
  #spacing-box
  .row
    div(class="container")
      p Don't have an account?
        a(href="/signup")  Create one