nav
  .nav-wrapper
    a(href="/").brand-logo.left Trello Clone
    ul(id="nav-mobile", class="right")
      li
        a(href="/users/" + id) #{name}
      if id
        li
          a(href="/logout") Logout
      else
        li
          a(href="/login") Login