nav
  .nav-wrapper
    a(href="/").brand-logo.left Home
    ul(id="nav-mobile", class="right")
      li
        a(href="/users/#{user._id}") My Boards
      li
        a(href="/login") Login
      li
        a(href="/logout") Logout