extends layout

block content
  include navbar
  .container
    #spacing-box
    .row
      each board in boards
        div(class="col s12 m6")
          div(class="card")
            div(class="card-content")
              span(class="card-title") #{board.title}
            .card-action
              a(href="/users/" + id + "/boards/" +board.id, class="blue-text text-darken-2") Open board
      else
        h3 You have no boards

      div(class="col s12 m6")
        div(class="card")
          form(action="/users/" + id, method="post", class="col s12")
            div(class="input-field")
              input(type="text", name="boardTitle", id="board-name")
              label(for="board-name") Board Name
            button(type="submit", name="action", class="btn waves-effect waves-light") Create

